html{
    --bg-color: #F7F8FA;
    --color: #323133;
    --text: #2b2c2d;
    --box-bg: #FFF;
    --btn-bg: #1890FF;
    --border-shadow: rgba(31, 90, 147, 0.10);

    --sidebar-width: 210px;
    --sidebar-collapse-width: 56px;

    --success-color: #55D187; //  Success color
    --error-color: #ED6F6F; //  False color
    --warning-color: #EFBD47; //   Warning color
    --app-content-background: #fafafa; //   Link color
    --font-size: 16px; //  Main font size
    --border-radius: 8px; //  Component/float fillet
}

html.dark{
    --bg-color: #68727a;
    --color: #ffffff;
    --text: #f5f7fa;
    --box-bg: #999;
    --btn-bg: #fff;
}

html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
    color: var(--color);
    background-color: var(--bg-color);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-overflow-scrolling: touch;
    font-family: Avenir, Helvetica, Arial, sans-serif;

    &.color-weak{
        filter: invert(80%);
    }

    &.gray-mode{
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
        -ms-filter: gray(100%);
    }
}

//:not(input):not(textarea){
//    user-select: none;
//    -webkit-user-select: none;
//    -moz-user-select: none;
//    -ms-user-select: none;
//    word-break: break-word;
//    -webkit-touch-callout: none;
//}

*, *:before, *:after{
    box-sizing: inherit;
}

a:focus, a:active{
    outline: none;
}

a, a:focus, a:hover{
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-thumb{
    background-color: #9093994d;
    border-radius: 2px;
    box-shadow: inset 0 0 6px #0003;
}

::-webkit-scrollbar-track{
    background-color: #0000000d;
}

#app{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: var(--font-size-base);

    > :nth-child(n){
        flex-shrink: 0;
    }

    > .flex-grow{
        flex-grow: 1;
        flex-shrink: 1;
        overflow: auto;
    }

    .flex-inline{
        display: flex;
        align-items: center;

        > .strong{
            flex-grow: 1;
            flex-shrink: 1 !important;
        }
    }

    .flex-list{
        display: flex;
        flex-direction: column;

        > :nth-child(n){
            flex-shrink: 0;
        }

        .flex-grow{
            flex-grow: 1;
            flex-shrink: 1;
            overflow: auto;
        }
    }

    // text ellipsis
    .long-text-ellipsis{
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
